.topbar{
   background-color: #0f2d56;
 }

 .grid{
    display: grid;
    grid-template-columns: 380px 338px 320px 290px 335px 254px;
    width: 100%;
    color: #fff;
    /*place-content: center;
    place-items: center;*/
 }
 .icons{
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
.icons +  .icons::before{
   content: '';
   width: 1px;
   height: 15px;
   background-color: #fff;
   position: absolute;
   top: 0px;
   left: 0px;
   bottom: 0px;
   margin: auto;
}
.iconList{
   font-size: 1em;
   font-weight: 500;
   display: flex;
   align-items: center;
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;
}

 .icon{
width:24px;
height: 24px;
display: inline-block;
margin-right: 11px;  
 }
